<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    
    <a class="navbar-brand" routerLink="/dashboard">Employee Management</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/employees"routerLinkActive="active">Dashbord</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/empcurd"routerLinkActive="active">CURD</a></li>
        <!-- <li class="nav-item"><a class="nav-link" routerLink="/about"routerLinkActive="active">About</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/contact"routerLinkActive="active">Contact</a></li> -->
      </ul>
     <button class="btn btn-outline-light ms-auto" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>

 <router-outlet></router-outlet>
  
