<div class="card">

    <div class="card-header">
         {{title}} <br/>
         {{message}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Designation filter</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="designationFilter" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <h6>Filter By : {{designationFilter}}</h6>  
            </div>
        </div>
    </div>


    <div class="table-responsive">
        <table class="table" *ngIf="employees.length">
            <thead>
                <tr>
                    <th>
                        <button class="btn btn-primary" (click)="toggleIcon()">
                           {{showIcon? "Hide":"show"}}  avatar
                        </button>
                    </th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Designation</th>
                    <th>Inshuarnce Balance</th>
                    <th>Progress</th>
                </tr>
            </thead> 
            <tbody>

                <!-- //resetfilter -fiteredEmployees -->
                <tr *ngFor=" let employee of filteredEmployees"> 
            
                    <td>
                        <img [src]="employee.icon" *ngIf="showIcon">
                    </td>
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.designation}}</td>
                    <td>{{ employee.insuranceBalance | currency:'LKR':'Rs.':'3.2-2'}}</td>

                   <!-- <td>{{employee.rbtProgress}}</td> -->
                   <!-- //parent to child pass this val  & child to parent-->
                  
                    <td><app-progress-bar 
                        [progress] = 'employee.rbtProgress'
                        [firstName] ='employee.firstName'
                    
                        (progressClick)='onMessageRecived($event)'
                        
                    ></app-progress-bar></td> 
                </tr>
            </tbody>
        </table>
    </div>

</div>