.dropdown-menu {
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
}

.card img {
  height: 100px;
  object-fit: contain;
}

.card {
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
